<div class='container-fluid'>

  <div class='logo'>
      <div class='row'>
          <div class='col-lg-12'>
              <%= image_tag('logo_thp.png', width: '3%') %>
          </div>
      </div>

      <div class='row'>
          <div class='col-lg-12'>
              <h4 id='title'>The Hacking Project</h4>
          </div>
      </div>
  </div>

  <div class='main'>
      <div class='row' id='main-left'>
          <div class='col-lg-offset-2 col-lg-4' id='learn'>
            <p>Apprends le code GRATUITEMENT</p>
            <p>Apprends le code en 3 MOIS</p>
          </div>

          <div class='col-lg-offset-2 col-lg-4' id='cta-1'>
            <p>Change de vie</p>
            <p>MAIL CHIMP</p>
          </div>
      </div>
  </div>


  <div class='main-2'>
      <div class='row'>
          <div class='col-lg-12'>
              <p>En 3 mois, tu auras :<p>
          </div>
      </div>

      <div class='row'>
          <div class='col-lg-12'>
              <p>créer des sites dynamiques de A à Z</p>
          </div>

          <div class='col-lg-12'>
              <p>changer de vie</p>
          </div>

          <div class='col-lg-12'>
            <p>découvert un monde où tout est possible</p>
          </div>

          <div class='col-lg-12'>
            <p>Change de vie en 3 mois et gratuitement</p>
            <p>MAIL CHIMP</p>
          </div>
      </div>
    </div>

</div>
